
/*********************************************
* Print-specific CSS *
*********************************************/
@media print {
    .noprint {
        display: none !important;
    }
    .onlyprint {
        display: block !important;
    }
    .tag_popout, div.margin {
        float: none;
        margin: 2em 0 2em auto !important;
        border: 1px solid #a4a6a7;
        padding: 1em !important;
        border-radius: 5px;
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1em;
        font-size: 0.9rem;
        line-height: 1.3;
        background-color: #ffe !important;
        vertical-align: baseline;
        position: relative;
        padding-left: 0;
        p {
            margin: 0px;
        }
    }
    .bd-content {
        // Widen the main div since we won't have a TOC
        div#print-main-content > div {
            flex: 0 0 100%;
            max-width: 100%;
            h1 {
                display: none;
            }
        }
    }
    h1 {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 0;
    }
    h1, h2, h3, h4 {
        break-after: avoid;
        color: black;
    }

    table {
        break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }

    a.copybtn, a.headerlink {
        display: none;
    }

    .tag-fullwidth {
        width: 145%;
        clear: both;
    }

    div.toggle-hidden {
        visibility: inherit;
        opacity: 1;
        height: auto;
    }

    button.toggle-button {
        display: none;
    }

    blockquote.epigraph {
        border: none;
    }

    // For some reason this fixes the containers from taking up the whole screen
    div.container {
        min-width: 50% !important;
    }

    div.bd-sidebar, div.prev-next-bottom {
        display: none;
    }

    div.topbar {
        height: 0;
        padding: 0;
        position: inherit;  // So that TOC isn't printed on each page

        div.topbar-main {
            opacity: 0;
        }
    }
    .section-nav {
        border-left: 0px;
        list-style-type: disc;
        margin-left: 3em;
        a {
            text-decoration: none;
            padding-left: 0px;
        }
        li {
            display: list-item !important;
        }
        .nav {
            display: none;
        }
    }
    #jb-print-toc {
        margin-bottom: 1.5rem ;
    }
}
